/*++ RESET +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

body { font:normal 12px Arial, Helvetica, sans-serif; color:#4f4e4e; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td, img, tbody, dt, dd, dl { margin:0; padding:0; } 
table { border-collapse:collapse; border-spacing:0; } 
fieldset,img { border:0; }
img.img-to-left { margin-right: 10px; float:left; }
img.img-to-right { float:right; margin-left:10px; }
a img { vertical-align:text-bottom; } 
address,caption,cite,code,dfn,em,th,var { font-style:normal; font-weight:normal; } 
ol,ul { list-style:none; -webkit-padding-start: 0; } 
caption,th { text-align:left; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
*:first-child+html .clearfix { height:1%; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.left { float: left; }
.right { float: right; }
.center{ text-align:center; }
.hid { display: none; }
.nobg{ background:none !important; }
.nopadd { padding:0 !important; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }
.nobdr { border: 0 none; }
.clear { clear: both; }
*:first-child+html img { vertical-align:text-bottom; }
* html img { vertical-align:text-bottom; }

.overlabel-wrapper { position:relative; }
.overlabel-wrapper label.overlabel-apply { position:absolute; left:0px; top:0px; cursor:text; }

/*++ STRUCTURE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#wrapper { margin:0 auto; width:965px; }
#body #col-main { float:left; width:695px; padding:5px; }
#body #col-right { float:right; width:236px; padding:5px 5px 0 0; }

#body #col-top { padding:5px; }
#body #col-top #breadcrumb { float:left; color:#004b88; font:normal 11px/normal Arial, Helvetica, sans-serif; }
#body #col-top #breadcrumb a { font:normal 11px/normal Arial, Helvetica, sans-serif; color:#0670c8; text-decoration:none; }
#body #col-top #breadcrumb a:hover { text-decoration:underline; }
#body #col-top ul#other-links { float:right; }
#body #col-top ul#other-links li { float:left; margin:0 0 0 15px; }
#body #col-top ul#other-links li a { font:normal 11px/normal Arial, Helvetica, sans-serif; color:#4f4e4e; text-decoration:none; }
#body #col-top ul#other-links li a:hover { text-decoration:underline; }
#body #col-top ul#other-links li.email a { background:url(/cms/SiteSearch/ui_components/images/email.gif) no-repeat left center; padding:1px 5px 1px 15px; }
#body #col-top ul#other-links li.share a { background:url(/cms/SiteSearch/ui_components/images/share-this.gif) no-repeat left center !important; padding:1px 5px 1px 15px !important; }
#body #col-top ul#other-links li.print a { background:url(/cms/SiteSearch/ui_components/images/print.gif) no-repeat left center; padding:1px 5px 1px 15px; }

#col-right div.box-blue { padding:15px 20px; margin:0 0 20px 0; background:url(/cms/SiteSearch/ui_components/images/box-blue_bg.gif) no-repeat left bottom; }
#col-right div.box-blue h2 { margin:-15px -20px 15px -20px; padding:0; }
#col-right div.box-blue ul { margin:0; padding:0; }
#col-right div.box-blue ul li { margin:0; padding:5px 0; font:bold 12px/normal Arial, Helvetica, sans-serif; }
#col-right div.box-blue ul li a { font:bold 12px/normal Arial, Helvetica, sans-serif; color:#0670c8; text-decoration:none; }
#col-right div.box-blue ul li a:hover { text-decoration:underline; }

#col-right div.box-skyblue { padding:15px 20px; margin:0 0 20px 0; background:url(/cms/SiteSearch/ui_components/images/box-skyblue_bg.gif) no-repeat left bottom; }
#col-right div.box-skyblue h2 { margin:-15px -20px 15px -20px; }
#col-right div.box-skyblue ul { }
#col-right div.box-skyblue ul li { margin:0; padding:5px 0; font:normal 13px/normal Arial, Helvetica, sans-serif; }
#col-right div.box-skyblue ul li p { font:normal 13px/normal Arial, Helvetica, sans-serif; color:#14589c; margin:0 0 5px 0; padding:0; }
#col-right div.box-skyblue ul li p.price { font: normal 10px/10px Arial, Helvetica, sans-serif; color:#d52e3d; overflow:hidden; margin:0; padding:0; }
#col-right div.box-skyblue ul li p.price span { float:left; margin:3px 5px 3px 0; }
#col-right div.box-skyblue ul li p.price strong { float:left; font:bold 16px/16px Arial, Helvetica, sans-serif; }

/*++ GOOGLE SEARCH +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#body .gsc-control { width:auto; }
#body .gsc-resultsHeader { display:none; }

.gsc-control-cse { font: normal 12px/normal Arial, Verdana, sans-serif; border:0; background: #fff; padding:0; margin:0; }
form.gsc-search-box { padding:0; margin:0; }
form.gsc-search-box table.gsc-search-box { border-bottom:10px solid #fff; }
form.gsc-search-box td.gsc-input { background:url(/cms/SiteSearch/ui_components/images/titles/search.gif) no-repeat left center; padding:0 0 0 89px; }
form.gsc-search-box input.gsc-input { font:normal 18px/18px Arial, Helvetica, sans-serif; color:#454545; border:1px solid #c7c7c7; padding:4px; width:550px !important; }
form.gsc-search-box td.gsc-search-button { }
form.gsc-search-box input.gsc-search-button { background:url(/cms/SiteSearch/ui_components/images/buttons/go_btn.gif) no-repeat left top; text-indent:-1000px; border:0; width:37px; height:32px; cursor:pointer; font-size:0px; display:block; line-height:0px;  }
* html form.gsc-search-box input.gsc-search-button { display:block; }
form.gsc-search-box .gsc-clear-button { display:none; }

.gsc-tabHeader.gsc-tabhInactive { border:0; background:#fff; text-shadow:none; }
.gsc-tabHeader.gsc-tabhActive { border:0; background:#fff; text-shadow:none; }
#body .gsc-tabsArea { border:0; display:none; }
#body .gsc-branding { display:none; }

.gsc-webResult.gsc-result { border:0; background: #fff; margin:0; padding:0; }
* html #col-main div#carnival-search-results .gsc-webResult.gsc-result { margin:0; }
.gsc-webResult.gsc-result:hover { border:0; background: #fff; }
.gs-webResult.gs-result { padding:20px 0 5px 0; }
html #carnival-search-results .gs-webResult.gs-webResult { background:#fff; border:none; text-align:left; }
.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited b,
.gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover b,
.gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active b { color:#0670c8; font:normal 16px/normal Arial, Helvetica, sans-serif; text-decoration:none; }
.gs-webResult.gs-result a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:visited b,
.gs-webResult.gs-result a.gs-title:hover b,
.gs-webResult.gs-result a.gs-title:active b,
.gs-webResult.gs-result a.gs-title:active b { font-weight:bold; }
* html #col-main div#carnival-search-results .gs-webResult.gs-result a.gs-title b { text-decoration:underline; }
*:first-child+html #col-main div#carnival-search-results .gs-webResult.gs-result a.gs-title b { text-decoration:underline; }
#body .gs-webResult.gs-result div.gs-title { height:auto; overflow:visible; padding:0 0 3px 0; text-decoration:none; }
#body .gs-webResult.gs-result a.gs-title { height:auto; overflow:visible; text-decoration:underline; }

#body .gsc-cursor-page { color: #004ddd; font:normal 12px/12px Arial, Helvetica, sans-serif; text-decoration:none; border:1px solid #004ddd; padding:2px 5px; }
#body .gsc-cursor-page:hover { background:#ddd; }
#body div.gsc-trailing-more-results { text-decoration:none; }
#body a.gsc-trailing-more-results { color: #d52e3d; font:bold 14px/normal Arial, Helvetica, sans-serif; text-decoration:none; }
#body a.gsc-trailing-more-results:hover { text-decoration:underline; }
.gs-webResult.gs-result .gs-snippet { color: #4f4e4e; font:normal 12px/normal Arial, Helvetica, sans-serif; padding:0 0 15px 0; }

.gs-webResult.gs-result .gs-visibleUrl-short { display:none; color: #002f5d; font:italic 12px/normal Arial, Helvetica, sans-serif;  }
.gs-webResult.gs-result .gs-visibleUrl-long { display:block; color: #002f5d; font:italic 12px/normal Arial, Helvetica, sans-serif; }
* html #col-main div#carnival-search-results .gs-webResult.gs-result .gs-visibleUrl-long { display:block; color: #002f5d; font:italic 12px/normal Arial, Helvetica, sans-serif; }
.gsc-cursor-box { text-align:center; padding:25px 0 25px 0; display:none; }

#carnival-search-navigator { padding:25px 0; text-align:center; }
#carnival-search-navigator a.page-link { color: #004ddd; font:normal 12px/12px Arial, Helvetica, sans-serif; text-decoration:none; border:1px solid #004ddd; padding:2px 5px; margin:0 5px; }
#carnival-search-navigator a.page-link:hover { background:#ddd; }
#carnival-search-navigator span.current-page-link { color: #fff; font:normal 12px/12px Arial, Helvetica, sans-serif; text-decoration:none; border:1px solid #004ddd; padding:2px 5px; margin:0 5px; background:url(/cms/SiteSearch/ui_components/images/pagination_bg.gif) repeat-x left top; }
#carnival-search-navigator a.previous-page-link, #carnival-search-navigator a.next-page-link { color: #d52e3d; font:bold 14px/normal Arial, Helvetica, sans-serif; text-decoration:none; margin:0 5px; }
#carnival-search-navigator a.previous-page-link:hover, #carnival-search-navigator a.next-page-link:hover { text-decoration:underline; }

#body .gsc-results { width:auto; padding:0; margin:0; }
#body .gsc-results .gsc-cursor-page.gsc-cursor-current-page { background:url(/cms/SiteSearch/ui_components/images/pagination_bg.gif) repeat-x left top; color:#fff; }


#body .gs-promotion.gs-result { border:1px solid #d2dfec; border-top:none; background-color: #f3f9fe; padding:15px; }
#body .gs-promotion.gs-result div.gs-title { text-decoration:none; font:normal 16px/normal Arial, Helvetica, sans-serif; color:#0670c8; padding:0; }
#body .gs-promotion.gs-result a.gs-title:link { font:normal 16px/normal Arial, Helvetica, sans-serif; color:#0670c8; margin:0; padding:0; }
#body .gs-promotion.gs-result a.gs-title:visited { color: #0670c8; }
#body .gs-promotion.gs-result a.gs-title:hover { color: #0670c8; }
#body .gs-promotion.gs-result a.gs-title:active { color: #0670c8; }
#body .gs-promotion.gs-result td.gs-promotion-image-td { width:65px; } 
#body .gs-promotion.gs-result img.gs-promotion-image { border:3px solid #fff; margin:0 15px 0 0; /*margin-top:-20px;*/ }
#body .gs-promotion.gs-result .gs-snippet { font:normal 12px/normal Arial, Helvetica, sans-serif; color:#4f4e4e; }
#body .gs-promotion.gs-result .gs-visibleUrl, #body .gs-promotion.gs-result .gs-visibleUrl-short { display:none; }

#body p.loading { display:block; text-align:center; padding:20px; }

/*++ RELATED SEARCH ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#carnival-related { border:1px solid #d2dfec; padding:17px 20px; margin:0 0 20px 0; position:relative; background:url(/cms/SiteSearch/ui_components/images/search-status-bg.gif) repeat-x left bottom; }
#carnival-related span.corner-lt, #carnival-related span.corner-rt, #carnival-related span.corner-lb, #carnival-related span.corner-rb { display:block; width:5px; height:5px; position:absolute; overflow:hidden; }
#carnival-related span.corner-lt { background:url(/cms/SiteSearch/ui_components/images/carnival-related-clt.gif) no-repeat left top; top:-1px; left:-1px; }
#carnival-related span.corner-rt { background:url(/cms/SiteSearch/ui_components/images/carnival-related-crt.gif) no-repeat left top; top:-1px; right:-1px; }
* html #carnival-related span.corner-rt { right:-2px; }
#carnival-related span.corner-lb { background:url(/cms/SiteSearch/ui_components/images/carnival-related-clb.gif) no-repeat left top; bottom:-1px; left:-1px; }
#carnival-related span.corner-rb { background:url(/cms/SiteSearch/ui_components/images/carnival-related-crb.gif) no-repeat left top; bottom:-1px; right:-1px; }
* html #carnival-related span.corner-rb { right:-2px; }

#carnival-related h2 { font:normal 16px/normal Arial, Helvetica, sans-serif; color:#004b88; margin:0 0 10px 0; padding:0; }
#carnival-related h2 .keyword, #carnival-related h2 .keyword a { font-weight:bold; color:#0670c8; text-decoration:underline; }
#carnival-related h2 .counter { font-size:12px; color:#0670c8; }
#carnival-related p { font:normal 12px/normal Arial, Helvetica, sans-serif; color:#004b88; margin:0; padding:0; }
#carnival-related p a { color:#002f5d; text-decoration:underline; margin-left:5px; }
#carnival-related p a:hover { }

#carnival-search-noresults { border:1px solid #d2dfec; padding:17px 20px; margin:0 0 20px 0; position:relative; background:url(/cms/SiteSearch/ui_components/images/search-status-bg.gif) repeat-x left bottom; }
#carnival-search-noresults span.corner-lt, #carnival-search-noresults span.corner-rt, #carnival-search-noresults span.corner-lb, #carnival-search-noresults span.corner-rb { display:block; width:5px; height:5px; position:absolute; overflow:hidden; }
#carnival-search-noresults span.corner-lt { background:url(/cms/SiteSearch/ui_components/images/carnival-related-clt.gif) no-repeat left top; top:-1px; left:-1px; }
#carnival-search-noresults span.corner-rt { background:url(/cms/SiteSearch/ui_components/images/carnival-related-crt.gif) no-repeat left top; top:-1px; right:-1px; }
#carnival-search-noresults span.corner-lb { background:url(/cms/SiteSearch/ui_components/images/carnival-related-clb.gif) no-repeat left top; bottom:-1px; left:-1px; }
#carnival-search-noresults span.corner-rb { background:url(/cms/SiteSearch/ui_components/images/carnival-related-crb.gif) no-repeat left top; bottom:-1px; right:-1px; }
#carnival-search-noresults h2 { font:normal 18px/normal Arial, Helvetica, sans-serif; color:#004b88; margin:0 0 10px 0; padding:0; }
#carnival-search-noresults h2 .keyword, #carnival-related h2 .keyword a { font-weight:bold; color:#0670c8; text-decoration:none; }
#carnival-search-noresults table.suggestions td { font:normal 12px/normal Arial, Helvetica, sans-serif; color:#004b88; padding:0 10px 0 0; }
#carnival-search-noresults table.suggestions ul li { color:#002f5d; margin:0 0 5px 0; }
/*
#carnival-related p { font:normal 12px/normal Arial, Helvetica, sans-serif; color:#004b88; margin:0; padding:0; }
#carnival-related p a { color:#002f5d; text-decoration:underline; margin-left:5px; }
#carnival-related p a:hover { }
*/
/*++ ADS SEARCH ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#carnival-counter { margin:0; padding:0; position:relative; }
#carnival-counter h2 { background:#11569b; font:normal 12px/normal Arial, Helvetica, sans-serif; color:#ffffff; padding:10px 15px; margin:0; }
#carnival-counter span.corner-lt, #carnival-counter span.corner-rt { display:block; width:5px; height:5px; position:absolute; }
* html #carnival-counter span.corner-rt { right:4px; }
#carnival-counter span.corner-lt { background:url(/cms/SiteSearch/ui_components/images/carnival-counter-clt.gif) no-repeat left top; left:0px; top:0px; }
#carnival-counter span.corner-rt { background:url(/cms/SiteSearch/ui_components/images/carnival-counter-crt.gif) no-repeat left top; right:0px; top:0px; }

#popular-links { overflow:hidden; width: inherit; }
#popular-links a { float:left; clear:both; font:bold 12px/normal Arial, Helvetica, sans-serif; color:#0670c8; text-decoration:none; margin:0 0 5px 0; text-transform:capitalize; width: 100%; }
#popular-links a:hover { text-decoration:underline; }