body { font: normal 12px Arial, Helvetica, sans-serif; color: #454545; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, img, tbody, dt, dd, dl { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
img.img-to-left { margin-right: 10px; float: left; }
img.img-to-right { float: right; margin-left: 10px; }
a img { vertical-align: text-bottom; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; -webkit-padding-start: 0; }
caption, th { text-align: left; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
*:first-child + html .clearfix { height: 1%; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.left { float: left; }
.right { float: right; }
.center { text-align: center; }
.hid { display: none; }
.nobg { background: none !important; }
.nopadd { padding: 0 !important; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }
.nobdr { border: 0 none; }
.clear { clear: both; }
*:first-child + html img { vertical-align: text-bottom; }
* html img { vertical-align: text-bottom; }
.overlabel-wrapper { position: relative; }
.overlabel-wrapper label.overlabel-apply { position: absolute; left: 0px; top: 0px; cursor: text; }
#wrapper { width: 965px; margin: 0 auto; }
#body { width: 955px; padding: 0 5px; }
#body div.col-left { float: left; width: 695px; }
#body div.col-right { float: right; }
#hero-image { float: left; }
#find-cruise { padding: 17px 0 0 0; }
#find-cruise .paddRightNormal { padding-right: 15px !important; }
#find-cruise h1 { font: bold 26px/normal Arial, Helvetica, sans-serif; color: #004b88; text-transform: uppercase; letter-spacing: -2px; margin: 0 0 10px 0; }
#find-cruise p.intro { font: normal 15px/normal Arial, Helvetica, sans-serif; color: #004b88; margin: 0 0 15px 0; display: block; padding: 7px 0; border-top: 1px solid #d2dfec; border-bottom: 1px solid #d2dfec; }
#find-cruise div.box-form { background: #f3f9fe; border: 1px solid #d2dfec; padding: 0; margin: 0 0 10px 0; /* position:relative;*/ }
* html #find-cruise div.box-form { height: 1%; }
#find-cruise div.box-form span.corner-tl, #find-cruise div.box-form span.corner-tr, #find-cruise div.box-form span.corner-bl, #find-cruise div.box-form span.corner-br { display: block; position: absolute; width: 5px; height: 5px; background-repeat: no-repeat; background-position: left top; overflow: hidden; }
#find-cruise div.box-form span.corner-tl { background-image: url(../images/bf-corner-tl.gif); left: -1px; top: -1px; }
#find-cruise div.box-form span.corner-tr { background-image: url(../images/bf-corner-tr.gif); right: -1px; top: -1px; }
#find-cruise div.box-form span.corner-bl { background-image: url(../images/bf-corner-bl.gif); left: -1px; bottom: -1px; }
#find-cruise div.box-form span.corner-br { background-image: url(../images/bf-corner-br.gif); right: -1px; bottom: -1px; }
* html #find-cruise div.box-form span.corner-tr { right: -2px; }
* html #find-cruise div.box-form span.corner-br { right: -2px; }
#find-cruise div.box-form ul { padding: 10px 20px; }
#find-cruise div.box-form ul li { display: block; padding: 15px 0; clear: both; overflow: hidden; border-bottom: 1px solid #bfd6ea; }
* html #find-cruise div.box-form ul li { height: 1%; }
#find-cruise div.box-form ul li.last-child { border: none; }
#find-cruise div.box-form ul li .question { float: left; display: block; width: 200px; padding: 0 30px 0 0; font: bold 16px/normal Arial, Helvetica, sans-serif; color: #11569b; }
#find-cruise div.box-form ul li.last-child .question { width: 120px !important; }
#find-cruise div.box-form ul li .answer { float: left; display: block; }
#find-cruise div.box-form input, #find-cruise div.box-form select { font: normal 11px/normal Arial, Helvetica, sans-serif; color: #454545; /*border:1px solid #7f9db9;*/ }
#find-cruise div.box-form .wLarge { width: 290px; }
#find-cruise div.box-form .wNormal { width: 140px; }
#find-cruise div.box-form .wSmall { width: 100px; }
#find-cruise div.box-form a { font: normal 12px/normal Arial, Helvetica, sans-serif; color: #0670c8; text-decoration: underline; width: 200px; }
#find-cruise div.box-form label { font: normal 12px/normal Arial, Helvetica, sans-serif; color: #185b9e; }
#find-cruise div.box-form p.more-option { font: normal 12px/normal Arial, Helvetica, sans-serif; color: #0670c8; display: block; padding: 5px 0 0 0; }
#find-cruise div.box-form table td { padding: 0 10px 0 0; }
#find-cruise div.box-form-submit { background: url(../images/form-bg-bottom.gif) repeat-x left top; padding: 14px 7px; text-align: right; }
#find-cruise div.box-form.smallWidths ul li { padding: 22px 0; }
*:first-child + html #find-cruise div.box-form.smallWidths ul li { padding: 20px 0; }
#find-cruise div.box-form.smallWidths ul li .question { width: 115px; }
#find-cruise div.box-form.smallWidths ul li .answer p.more-option { display: inline; }
#find-cruise div.box-form.smallWidths ul li .answer a.help { vertical-align: middle; }
#find-cruise div.box-form.smallWidths .wLarge { width: 250px; margin-right: 10px; }
#body .btn-search-find { background: url(../images/search-cruises2.gif) no-repeat; width: 143px; height: 37px; display: inline-block; text-indent: -9999px; text-align: left; }
#find-cruise div.box-form ul li label.noPad { padding: 0; }
#find-cruise .tooltip { float: right; margin: 7px 1px 0 10px; }
html > body #find-cruise .tooltip { float: none; margin: 0px 0px 0px 0px; }
* html #find-cruise .tooltip { float: left; margin: 20px 1px 0 300px; }
a, a:link, a:visited { color: #217AD3; text-decoration: underline; }
a { outline: medium none; text-decoration: none; }
#find-cruise .tooltip a img { position: relative; vertical-align: top; }
.sprite-icon-help13x13 { background-image: url("/common/CCLUS/new-header/img/Sprites/sprite001.png"); background-position: 0 -314px; height: 13px; width: 13px; }
#find-cruise .tooltip .pop-content { background: url("/Common/CCLUS/new-header/css/img/background/tooltip-bottom.gif") no-repeat scroll 0 bottom transparent; bottom: 25px; display: none; left: 590px; top: 10px; position: absolute; text-indent: 0; width: 163px; z-index: 1000; height: 90px; }
#find-cruise .tooltip .body { background: url("/Common/CCLUS/new-header/css/img/background/tooltip-top.gif") no-repeat scroll 0 0 transparent; display: inline-block; float: left; margin: 0; padding: 15px; width: 133px; }
#find-cruise .tooltip .body .para { color: #898989; font-size: 11px; margin-bottom: 5px; }
.tooltip span.arrow { background-image: none; }
#past-guest-lookup { display: none; background: #d0e8fe; padding: 10px; border: 1px solid #abc6e0; font-size: 11px; color: #116fcd; line-height: 22px; margin: 10px 0 20px; width: 313px; }
.pgnum-enable { background: url(/BookingEngine/common/cruise-search/css/img/background/past-guest-inputbg.gif) no-repeat; width: 233px; height: 26px; border: 0; margin-right: 5px; font-size: 12px; }
.pgnum-na { background: url(/BookingEngine/common/cruise-search/css/img/background/past-guest-inputbg-na.gif) no-repeat; width: 233px; height: 26px; border: 0; margin-right: 5px; font-size: 12px; cursor: crosshair; }
.past-guest-submit { background: url(/BookingEngine/common/cruise-search/css/img/background/past-guest-submit.gif) no-repeat; width: 71px; height: 21px; border: 0; }
.past-guest-submit-na { background: url(/BookingEngine/common/cruise-search/css/img/background/past-guest-submit-na.gif) no-repeat; width: 71px; height: 21px; border: 0; cursor: crosshair; }
#past-guest-lookup label { font-size: 11px; font-weight: bold; }
#past-guest-lookup a { font-size: 11px; }
#past-guest-lookup a.past-guest-forgot { display: block; margin-bottom: 10px; }
.pastGuestNumInvalid { display: none; color: Red; }
.tooltip-findacruise { margin: 0 0 5px 5px; }
.ui-widget-overlay { position: absolute; top: 0px; left: 0px; background-color: #23609B; opacity: 0.75; filter: alpha(opacity=80); display: none; z-index: 99999; }
#pgIframeContainer iframe { /* width:423px;     height:340px; */ width: 450px; height: 460px; overflow: hidden; z-index: 1102; }
.pgiFrameContainer { width: 423px; height: auto; position: absolute; z-index: 999999; margin: 0 auto; display: none; outline: 0px none; }
#find-cruise div.box-form table td .helpImg { float: right; padding-left: 2px; }
