body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td, img, tbody, dt, dd, dl { margin:0; padding:0; } 
table { border-collapse:collapse; border-spacing:0; } 
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,th,var { font-style:normal; font-weight:normal; } 
ol,ul { list-style:none; -webkit-padding-start: 0; } 
caption,th { text-align:left; }
img { vertical-align:bottom; margin:0; overflow:hidden; background:none; }
/** utility **/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* .clearfix {display: inline-table;} */
/* Hides from IE-mac \*/
*:first-child+html .clearfix { height: 1%; }
* html .clearfix { height: 1%; }
.clearfix {display: block;}
* html .clearfix { display:inline-block;}
/* End hide from IE-mac */
.left { float: left; }
.right { float: right; }
.center{ text-align:center; }
.hid { display: none;}
.upperCase { text-transform: uppercase; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }
.nobdr { border:none !important; }
.clear { clear: both; }
table td { vertical-align:top; }
* html li { height:1%; }
a{outline: none;}
a:hover{cursor: pointer;}